<%= form_for(message_in_a_bottle) do |f| %>
  <% if message_in_a_bottle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message_in_a_bottle.errors.count, "error") %> prohibited this message_in_a_bottle from being saved:</h2>

      <ul>
      <% message_in_a_bottle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
