<p id="notice"><%= notice %></p>

<h1>Message In A Bottles</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_in_a_bottles.each do |message_in_a_bottle| %>
      <tr>
        <td><%= message_in_a_bottle.text %></td>
        <td><%= link_to 'Show', message_in_a_bottle %></td>
        <td><%= link_to 'Edit', edit_message_in_a_bottle_path(message_in_a_bottle) %></td>
        <td><%= link_to 'Destroy', message_in_a_bottle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message In A Bottle', new_message_in_a_bottle_path %>
